.Search {
    display: flex;
    margin-top: 60px;
    /* margin-left: -80px;; */
    /* border: 1px solid red; */
    width: 280px;
    margin: auto;
    margin-bottom: 10px;
  }
  
  .input {
    /* border: 1px solid green; */
    margin-top: 15px;
    width: 280px;
    /* margin: 5px 200px; */
    padding: 12px;
    height: 20px;
    border-radius: 5px;
    font-size: 15px;
    -webkit-box-shadow: 0 0 10px lightgrey;
    box-shadow: 0 0 10px lightgrey;
  background-color: white;
    cursor: pointer;
    padding-left: 37px;
    font-weight: bold;
    outline: none;
  }
  .input-box{
    border: none;
  }
  .location {
    margin-top: 21px;
    width: 30px;
    position: absolute;
 
    /* padding-left: 200px; */
  }
  
  .search_btn {
  
    width: 20px;
    position: absolute;
    top: 28px;
    margin-left: -23px;
  }




  .suggestions {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #d4d4d4;
    background-color: #f7f7f7;
    border-radius: 0 0 10px 10px;
    height: 300px;
    overflow: scroll;
    position:absolute;
    z-index: 2;
  }

  .suggestions li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
  }

  input:focus {
    outline: none;
  }

  .Search li:hover {
    background-color: #d4d4d4;
  } 