.boxtemp{
    width:350px;
   
    margin:auto;
    /* border: 1px solid red; */
}

.boxtemp1{
    /* border:1px solid green; */
    font-size: 20px; 
    font-weight:bold;
    align-items: center;
    display: flex;
    gap:5px;
    background-color: white;
    height: 35px;
   
}

